.progress {
	position: relative;
	z-index: 0;
	border-bottom: 1px solid $color-white;

	&__section-list { // .progress__section-list
		display: flex;
		width: 100%;
	}

	&__section { // .progress__section
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: calc((100% - 32px) / 3);
		padding-bottom: 19px;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.2em;
		text-align: center;
		color: $color-gray;

		&:not(:last-child) {
			&::after {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 1px;
				height: 17px;
				background-color: #c4c4c4;
				content: "";
			}
		}

		&--short { // .progress__section--short
			flex: 0 0 32px;
			padding-bottom: 5px;
		}
	}

	&__section-number { // .progress__section-number
		display: block;
		text-transform: uppercase;
	}

	&__track { // .progress__track
		position: relative;
		z-index: -1;
		width: 100%;
		height: 8px;
		margin-top: -8px;
		background-image: linear-gradient( to bottom, #e6e6e6, #efefef);
	}

	&__value { // .progress__value
		position: absolute;
		top: 0;
		left: 0;
		width: 16.3%;
		height: 100%;
		background-image: linear-gradient( to bottom, #8097c3, #8fa5d2);
	}
}
