// Header
header.header
	.container.header__container
		.header__logo-col
			button.header__menu-btn.hover-block
				span.sprite-menu.hover-block__normal
				span.sprite-menu-on.hover-block__active
			a.header__logo-link(href="/", title="Back to Home")
				img.header__logo-img(src="images/truity_logo.png", alt="Truity logo")
			button.header__user-menu-btn.hover-block
				span.sprite-user-menu.hover-block__normal
				span.sprite-user-menu-on.hover-block__active
		.header__nav-col
			ul.header__auth-list
				li.header__auth-elem
					a.header__auth-link(href="/") Log In
				li.header__auth-elem
					a.header__auth-link(href="/") Register
			nav.header__nav-box
				ul.header__nav-list
					li.header__nav-elem
						a.header__nav-link(href="/") Home
					li.header__nav-elem
						a.header__nav-link.header__nav-link--active(href="/") Personality tests
					li.header__nav-elem
						a.header__nav-link(href="/") Personality types
					li.header__nav-elem
						a.header__nav-link(href="/") Discussion
					li.header__nav-elem
						a.header__nav-link(href="/") Blog
