*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-width: 1024px;
	font-family: $font-primary;
	color: $color-black;
}

a,
button {
	cursor: pointer;
}

a {
	color: currentColor;
	text-decoration: none;
}

input,
button {
	font-family: inherit;
}
