$sprites: (
	"icon-facebook-active": (
		normal: (
			x: 152,
			y: 0,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 304,
			y: 0,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-facebook": (
		normal: (
			x: 152,
			y: 75,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 304,
			y: 150,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-googleplus-active": (
		normal: (
			x: 0,
			y: 0,
			width: 74,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 0,
			y: 0,
			width: 148,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-googleplus": (
		normal: (
			x: 76,
			y: 0,
			width: 74,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 152,
			y: 0,
			width: 148,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-linkedin-active": (
		normal: (
			x: 0,
			y: 150,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 0,
			y: 300,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-linkedin": (
		normal: (
			x: 75,
			y: 150,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 150,
			y: 300,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-pinterest-active": (
		normal: (
			x: 150,
			y: 150,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 300,
			y: 300,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-pinterest": (
		normal: (
			x: 227,
			y: 0,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 454,
			y: 0,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-twitter-active": (
		normal: (
			x: 227,
			y: 75,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 454,
			y: 150,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-twitter": (
		normal: (
			x: 0,
			y: 75,
			width: 74,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 0,
			y: 150,
			width: 148,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-youtube-active": (
		normal: (
			x: 227,
			y: 150,
			width: 73,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 454,
			y: 300,
			width: 146,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"icon-youtube": (
		normal: (
			x: 76,
			y: 75,
			width: 74,
			height: 73,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 152,
			y: 150,
			width: 148,
			height: 146,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"menu-on": (
		normal: (
			x: 96,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 192,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"menu": (
		normal: (
			x: 130,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 260,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-arrow": (
		normal: (
			x: 302,
			y: 89,
			width: 18,
			height: 14,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 604,
			y: 178,
			width: 36,
			height: 28,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-checkbox-off-big": (
		normal: (
			x: 0,
			y: 225,
			width: 46,
			height: 43,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 0,
			y: 450,
			width: 92,
			height: 86,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-checkbox-off": (
		normal: (
			x: 302,
			y: 62,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 604,
			y: 124,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-checkbox-on-big": (
		normal: (
			x: 48,
			y: 225,
			width: 46,
			height: 43,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 96,
			y: 450,
			width: 92,
			height: 86,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-checkbox-on": (
		normal: (
			x: 302,
			y: 34,
			width: 26,
			height: 26,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 604,
			y: 68,
			width: 52,
			height: 52,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-price-big": (
		normal: (
			x: 164,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 328,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-questions": (
		normal: (
			x: 302,
			y: 0,
			width: 26,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 604,
			y: 0,
			width: 52,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"test-time-big": (
		normal: (
			x: 198,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 396,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"user-menu-on": (
		normal: (
			x: 232,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 464,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
	"user-menu": (
		normal: (
			x: 266,
			y: 225,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 328,
			total_height: 268,
		),
		retina: (
			x: 532,
			y: 450,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 656,
			total_height: 536,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
