.h1 {
	font-family: $font-secondary;
	font-size: 48px;
	line-height: 52px;
	font-weight: 700;
}

.h2 {
	font-family: $font-secondary;
	font-size: 39px;
	line-height: 42px;
	font-weight: 700;
	letter-spacing: 0.006em;
}
