// Colors
$color-transparent: rgba(#000, 0);
$color-black: #3d3d3d;
$color-white: #fff;
$color-yellow: #e4af1a;
$color-gray: #727272;

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Animations
$trasition-default: 0.2s ease;

// Settings
$desktop: 1025;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;
